
<center><h2>{{team.dreamTeam.name}}</h2></center>
<!-- 		<p ng-repeat="player in team.players">{{player.firstname}}
			{{player.lastname}}
	</div> -->

<table class="table table-bordered" at-table at-paginated at-list="list"
	at-config="config">
	<thead>
		<tr>
			<th>Player last name</th>
			<th>Player first name</th>
			<th>Player leag</th>
			<th>games played</th>
			<th>minutes</th>
			<th>points</th>
			<th>rebounds</th>
			<th>asists</th>
			<th>steals</th>
			<th>blocks</th>
			<th>field goals attempted</th>
			<th>field goals made</th>
			<th>free throws attempted</th>
			<th>free throws made</th>
			<th>turnovers</th>
		</tr>
	</thead>
	<tr ng-repeat="player in team.players">
		<td>{{player.firstname}}</td>
		<td>{{player.lastname}}</td>
		<td>{{player.leag}}</td>
		<td>{{player.gp}}</td>
		<td>{{player.min}}</td>
		<td>{{player.pts}}</td>
		<td>{{player.reb}}</td>
		<td>{{player.asts}}</td>
		<td>{{player.stl}}</td>
		<td>{{player.blk}}</td>
		<td>{{player.fga}}</td>
		<td>{{player.fgm}}</td>
		<td>{{player.fta}}</td>
		<td>{{player.ftm}}</td>
		<td>{{player.to}}</td>
		</span>
		</td>
	</tr>
</table>