<div>
		<p>{{team.dreamTeam.name}}</p>
		<p ng-repeat="player in team.players">{{player.firstname}}
			{{player.lastname}}
	</div>
	
	<table class="table table-bordered" at-table at-paginated
		at-list="list" at-config="config">
		<thead>
			<tr>
				<th>Team name:</th>
				<th>Player first name</th>
				<th>Player</th>
				<th>League</th>
				<th>Position</th>
			</tr>
		</thead>
		<tr ng-repeat="player in players | range:from:to ">
			<td>{{player.lastname}}</td>
			<td>{{player.team}}</td>
			<td>{{player.leag}}</td>
			<td><span ng-repeat="position in player.pos">{{position}}
			</span></td>
		</tr>
	</table>