		
			<ul class="nav navbar-nav">
				<li role="presentation"><a ng-href="/"><i
						class="glyphicon glyphicon-home"></i>&nbspHome</a></li>
				<li role="presentation"><a ng-href="/teams"><i
						class="glyphicon glyphicon-th-list"></i>&nbspTeams</a></li>
				<li role="presentation"><a ng-href="/createteam"><i
						class="glyphicon glyphicon-plus"></i>&nbspCreate team</a></li>
			</ul>
			<ul class="nav navbar-nav" style="float: right">
				<li><a ng-href="/contact" class="navbar-nav pull-right" style="cursor:default"><i class="glyphicon glyphicon-user" ></i>&nbsp{{username}}</a></li>
			</ul>